<center><img src="https://i.imgur.com/zRrFdsf.png" width="700"></center>

## Exercises:

The CIA has several indicators for world countries:

- See [here](https://www.cia.gov/the-world-factbook/references/guide-to-country-comparisons).

Review the topics related to cleaning discussed in class, and see what may be need to clean this indicator from the CIA:

- [Carbon dioxide emissions](https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison).

You  need to make sure you have installed:

* pandas
* html5lib
* lxml
* beautifulsoup4 (or bs4)

You can use **pip show** to verify (for instance, _pip show pandas_). If you have all of them, run this code to get the data:

In [2]:
# read web table into pandas DF
import pandas as pd

ciaLink1='https://www.cia.gov/the-world-factbook/field/carbon-dioxide-emissions/country-comparison'
carbon=pd.read_html(ciaLink1, # link
                        header=0, # where is the header?
                        flavor='bs4')[0] # and which table?

In [19]:
# here it is:
carbon

,Rank,Country,metric tonnes of CO2,Date of Information
0,1,China,13506000000,2022 est.
1,2,United States,4941000000,2022 est.
2,3,India,2805000000,2022 est.
3,4,Russia,1840000000,2022 est.
4,5,Japan,1049000000,2022 est.
...,...,...,...,...
213,214,Montserrat,26000,2022 est.
214,215,"Saint Helena, Ascension, and Tristan da Cunha",13000,2022 est.
215,216,Antarctica,12000,2022 est.
216,217,Niue,8000,2022 est.
217,218,Northern Mariana Islands,0,2019 est.

In [21]:
# also
carbon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218 entries, 0 to 217
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  218 non-null    int64
 1   Country               218 non-null    object
 2   metric tonnes of CO2  218 non-null    int64
 3   Date of Information   218 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.9+ KB

In [ ]:
# frequency table
carbon['Date of Information'].value_counts()

Date of Information
2022 est.    215
2012 est.      1
2017 est.      1
2019 est.      1
Name: count, dtype: int64

Complete the tasks requested:

1. Keep all the columns but _Rank_.
    * Tip: use [drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html), [loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html), and [iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) for the same purpose (three ways to accomplish the task).
2. Rename the column names for easier understanding.
    * Tip: Use [rename](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html).
3. Make sure the cells with text does not have neither trailing nor leading spaces.
    * Tip: use [strip](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html).
4. Detect the presence of symbols in the numeric data that are not numeric or point.
    * Tip: Use [contains](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html).
5. Make sure there are no spaces as part of the column names.
    * Tip: use [replace](https://pandas.pydata.org/docs/reference/api/pandas.Series.replace.html).
6. Keep only the year value in the column *carbon_date*.
    * Tip: use [extract](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.extract.html).

When all tasks are done, create a folder **data** inside the current folder, and save the cleaned file like this:

In [109]:
# Definimos las columnas que queremos conservar
keep_columns = ['Country', 'metric tonnes of CO2', 'Date of Information']

# Identificamos las columnas que no queremos conservar
columns = set(carbon.columns.to_list()) - set(keep_columns)

# Usamos drop para eliminar las columnas no deseadas
carbonCleaned = carbon.drop(columns=columns)
print(carbonCleaned)

                                           Country  metric tonnes of CO2  \
0                                            China           13506000000
1                                    United States            4941000000
2                                            India            2805000000
3                                           Russia            1840000000
4                                            Japan            1049000000
..                                             ...                   ...
213                                     Montserrat                 26000
214  Saint Helena, Ascension, and Tristan da Cunha                 13000
215                                     Antarctica                 12000
216                                           Niue                  8000
217                       Northern Mariana Islands                     0

    Date of Information
0             2022 est.
1             2022 est.
2             2022 est.
3             2022 est.
4             2022 est.
..                  ...
213           2022 est.
214           2022 est.
215           2022 est.
216           2022 est.
217           2019 est.

[218 rows x 3 columns]

In [101]:
# Usamos loc para seleccionar las columnas que queremos conservar
carbonCleaned_loc = carbon.loc[:, keep_columns]
print(carbonCleaned_loc)

                                           Country  metric tonnes of CO2  \
0                                            China           13506000000
1                                    United States            4941000000
2                                            India            2805000000
3                                           Russia            1840000000
4                                            Japan            1049000000
..                                             ...                   ...
213                                     Montserrat                 26000
214  Saint Helena, Ascension, and Tristan da Cunha                 13000
215                                     Antarctica                 12000
216                                           Niue                  8000
217                       Northern Mariana Islands                     0

    Date of Information
0             2022 est.
1             2022 est.
2             2022 est.
3             2022 est.
4             2022 est.
..                  ...
213           2022 est.
214           2022 est.
215           2022 est.
216           2022 est.
217           2019 est.

[218 rows x 3 columns]

In [103]:
# Usamos iloc para seleccionar las columnas que queremos conservar
carbonCleaned_iloc = carbon.iloc[:, [carbon.columns.get_loc(col) for col in keep_columns]]
print(carbonCleaned_iloc)

                                           Country  metric tonnes of CO2  \
0                                            China           13506000000
1                                    United States            4941000000
2                                            India            2805000000
3                                           Russia            1840000000
4                                            Japan            1049000000
..                                             ...                   ...
213                                     Montserrat                 26000
214  Saint Helena, Ascension, and Tristan da Cunha                 13000
215                                     Antarctica                 12000
216                                           Niue                  8000
217                       Northern Mariana Islands                     0

    Date of Information
0             2022 est.
1             2022 est.
2             2022 est.
3             2022 est.
4             2022 est.
..                  ...
213           2022 est.
214           2022 est.
215           2022 est.
216           2022 est.
217           2019 est.

[218 rows x 3 columns]

In [113]:
# Cambiar el nombre de la columna 'Date of Information' a 'carbon_date'
change = {'Date of Information': "carbon_date"}
carbonCleaned.rename(columns=change, inplace=True)

# Mostrar el DataFrame modificado
print(carbonCleaned)

                                           Country  metric tonnes of CO2  \
0                                            China           13506000000
1                                    United States            4941000000
2                                            India            2805000000
3                                           Russia            1840000000
4                                            Japan            1049000000
..                                             ...                   ...
213                                     Montserrat                 26000
214  Saint Helena, Ascension, and Tristan da Cunha                 13000
215                                     Antarctica                 12000
216                                           Niue                  8000
217                       Northern Mariana Islands                     0

    carbon_date
0     2022 est.
1     2022 est.
2     2022 est.
3     2022 est.
4     2022 est.
..          ...
213   2022 est.
214   2022 est.
215   2022 est.
216   2022 est.
217   2019 est.

[218 rows x 3 columns]

In [117]:
# Seleccionar las columnas de tipo objeto
objectCols = carbonCleaned.select_dtypes(include=['object']).columns

# Aplicar strip a las columnas de texto
carbonCleaned.loc[:, objectCols] = carbonCleaned.loc[:, objectCols].apply(lambda col: col.str.strip())

# Imprimes los valores hallados
print(carbonCleaned)

                                           Country  metric tonnes of CO2  \
0                                            China           13506000000
1                                    United States            4941000000
2                                            India            2805000000
3                                           Russia            1840000000
4                                            Japan            1049000000
..                                             ...                   ...
213                                     Montserrat                 26000
214  Saint Helena, Ascension, and Tristan da Cunha                 13000
215                                     Antarctica                 12000
216                                           Niue                  8000
217                       Northern Mariana Islands                     0

    carbon_date
0     2022 est.
1     2022 est.
2     2022 est.
3     2022 est.
4     2022 est.
..          ...
213   2022 est.
214   2022 est.
215   2022 est.
216   2022 est.
217   2019 est.

[218 rows x 3 columns]

In [123]:
# Detectar la presencia de símbolos no numéricos en 'metric tonnes of CO2'
carbonCleaned['metric tonnes of CO2'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 218 entries, 0 to 217
Series name: metric tonnes of CO2
Non-Null Count  Dtype
--------------  -----
218 non-null    object
dtypes: object(1)
memory usage: 1.8+ KB

In [129]:
# Mantener solo el valor del año en la columna carbon_date
carbonCleaned['carbon_date'] = carbonCleaned['carbon_date'].str.extract(r'(\d+)')

# Mostrar el DataFrame modificado
print(carbonCleaned)

                                           Country metric tonnes of CO2  \
0                                            China          13506000000
1                                    United States           4941000000
2                                            India           2805000000
3                                           Russia           1840000000
4                                            Japan           1049000000
..                                             ...                  ...
213                                     Montserrat                26000
214  Saint Helena, Ascension, and Tristan da Cunha                13000
215                                     Antarctica                12000
216                                           Niue                 8000
217                       Northern Mariana Islands                    0

    carbon_date
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
213         NaN
214         NaN
215         NaN
216         NaN
217         NaN

[218 rows x 3 columns]

In [137]:
import os

# Creamos una carpeta llamada 'data'
os.makedirs('data', exist_ok=True)

# Guardar el DataFrame limpio en un archivo CSV dentro de la carpeta 'data'
carbonCleaned.to_csv(os.path.join("data", "carbonCleaned.csv"), index=False)

In [79]:
# import os

# carbonCleaned.to_csv(os.path.join("data","carbonCleaned.csv"),index=False)

- Exercise 2: Scrape the data on [Revenue from forest resources](https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison).

Complete the same tasks requested in the previous exercise.
When all tasks are done, save the cleaned file inside your **data** folder:

In [143]:
import pandas as pd

ciaLink1 = 'https://www.cia.gov/the-world-factbook/field/revenue-from-forest-resources/country-comparison/'

# Pedimos leer la tabla web en un DataFrame
revenue_forest_resources = pd.read_html(ciaLink1, header=0, flavor='bs4')[0]

# Pedimos mostrar las primeras filas del DataFrame
print(revenue_forest_resources.head())

   Rank                   Country  % of GDP Date of Information
0     1           Solomon Islands     20.27           2018 est.
1     2                   Liberia     13.27           2018 est.
2     3                   Burundi     10.31           2018 est.
3     4             Guinea-Bissau      9.24           2018 est.
4     5  Central African Republic      8.99           2018 est.

In [194]:
#Mantenemos solo las columnas necesarias
keep = ['Country', '% of GDP', 'Date of Information']
dontKeep = set(revenue_forest_resources.columns.to_list()) - set(keep)
cleaned_revenue = revenue_forest_resources.drop(columns=dontKeep)
cleaned_revenue

                      Country  % of GDP Date of Information
0             Solomon Islands     20.27           2018 est.
1                     Liberia     13.27           2018 est.
2                     Burundi     10.31           2018 est.
3               Guinea-Bissau      9.24           2018 est.
4    Central African Republic      8.99           2018 est.
..                        ...       ...                 ...
199                      Guam      0.00           2018 est.
200             Faroe Islands      0.00           2017 est.
201                     Aruba      0.00           2017 est.
202            Virgin Islands      0.00           2017 est.
203                     Macau      0.00           2018 est.

[204 rows x 3 columns]

In [196]:
#Cambiamos el nombre de la columna 'Date of Information' a 'carbon_date'
cleaned_revenue.rename(columns={'% of GDP': 'Porcentaje'}, inplace=True)
cleaned_revenue

                      Country  Porcentaje Date of Information
0             Solomon Islands       20.27           2018 est.
1                     Liberia       13.27           2018 est.
2                     Burundi       10.31           2018 est.
3               Guinea-Bissau        9.24           2018 est.
4    Central African Republic        8.99           2018 est.
..                        ...         ...                 ...
199                      Guam        0.00           2018 est.
200             Faroe Islands        0.00           2017 est.
201                     Aruba        0.00           2017 est.
202            Virgin Islands        0.00           2017 est.
203                     Macau        0.00           2018 est.

[204 rows x 3 columns]

In [155]:
#Cambiamos el nombre de la columna 'Date of Information' a 'carbon_date'
cleaned_revenue.rename(columns={'Date of Information': 'carbon_date'}, inplace=True)
cleaned_revenue

                      Country carbon_date
0             Solomon Islands   2018 est.
1                     Liberia   2018 est.
2                     Burundi   2018 est.
3               Guinea-Bissau   2018 est.
4    Central African Republic   2018 est.
..                        ...         ...
199                      Guam   2018 est.
200             Faroe Islands   2017 est.
201                     Aruba   2017 est.
202            Virgin Islands   2017 est.
203                     Macau   2018 est.

[204 rows x 2 columns]

In [200]:
#Nos aseguramos de que no haya espacios en blanco en las columnas de texto
objectCols = cleaned_revenue.select_dtypes(include=['object']).columns
cleaned_revenue.loc[:, objectCols] = cleaned_revenue.loc[:, objectCols].apply(lambda col: col.str.strip())
cleaned_revenue

                      Country  Porcentaje Date of Information
0             Solomon Islands       20.27           2018 est.
1                     Liberia       13.27           2018 est.
2                     Burundi       10.31           2018 est.
3               Guinea-Bissau        9.24           2018 est.
4    Central African Republic        8.99           2018 est.
..                        ...         ...                 ...
199                      Guam        0.00           2018 est.
200             Faroe Islands        0.00           2017 est.
201                     Aruba        0.00           2017 est.
202            Virgin Islands        0.00           2017 est.
203                     Macau        0.00           2018 est.

[204 rows x 3 columns]

In [204]:
#Detectamos la presencia de símbolos no numéricos en 'Revenue from Forest Resources'
# Convertimos la columna a tipo string para aplicar .str.contains
cleaned_revenue['Porcentaje'] = cleaned_revenue['Porcentaje'].astype(str)
cleaned_revenue

                      Country Porcentaje Date of Information
0             Solomon Islands      20.27           2018 est.
1                     Liberia      13.27           2018 est.
2                     Burundi      10.31           2018 est.
3               Guinea-Bissau       9.24           2018 est.
4    Central African Republic       8.99           2018 est.
..                        ...        ...                 ...
199                      Guam        0.0           2018 est.
200             Faroe Islands        0.0           2017 est.
201                     Aruba        0.0           2017 est.
202            Virgin Islands        0.0           2017 est.
203                     Macau        0.0           2018 est.

[204 rows x 3 columns]

In [274]:
# Detectar la presencia de símbolos no numéricos en 'metric tonnes of CO2'
cleaned_revenue['Porcentaje'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 204 entries, 0 to 203
Series name: Porcentaje
Non-Null Count  Dtype
--------------  -----
204 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

In [278]:
# Mantener solo el valor del año en la columna carbon_date
cleaned_revenue['Date of Information'] = cleaned_revenue['Date of Information'].str.extract(r'(\d+)')

# Mostrar el DataFrame modificado
print(cleaned_revenue)

                      Country Porcentaje Date of Information
0             Solomon Islands         20                2018
1                     Liberia         13                2018
2                     Burundi         10                2018
3               Guinea-Bissau          9                2018
4    Central African Republic          8                2018
..                        ...        ...                 ...
199                      Guam          0                2018
200             Faroe Islands          0                2017
201                     Aruba          0                2017
202            Virgin Islands          0                2017
203                     Macau          0                2018

[204 rows x 3 columns]

In [280]:
import os

# Creamos una carpeta llamada 'data'
os.makedirs('data', exist_ok=True)

# Guardar el DataFrame limpio en un archivo CSV dentro de la carpeta 'data'
carbonCleaned.to_csv(os.path.join("data", "carbonCleaned.csv"), index=False)

In [242]:
# import os

# forestCleaned.to_csv(os.path.join("data","forestCleaned.csv"),index=False)